.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5%;
  margin-top: 0%;
  height: 70%;
  color: white;
  border-radius: 10px;
  background-color: rgba(114, 113, 111, 0.459);
}
.about h1 {
  color: aqua;
}

.about span {
  color: aqua;
}

.about img {
  width: 50%;
}
